<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <script>
    UPLOADCARE_LOCALE = "en";
    UPLOADCARE_TABS = "file url facebook gdrive gphotos dropbox instagram evernote flickr skydrive";
    UPLOADCARE_PUBLIC_KEY = "7d2ddbbb700aaaacc7b7";
  </script>

  <title>Add Photo</title>
</head>
<body>

    <%- include("../partials/nav", {browse: false, photos: true, chatroom: false, messages: false}) %>

  <main class="container">
    <div class="row">
      <div class="col s12 m12">
        <h4>Add a Photo</h4>
<div id="uploader-placeholder">Uploading. Please wait...</div>

        <div class="row">
          <input
            type="hidden"
            role="uploadcare-uploader"
            data-public-key="7d2ddbbb700aaaacc7b7"
            data-tabs="file url facebook gdrive gphotos dropbox instagram evernote flickr skydrive"
            data-image-shrink="1024x1024 80%"
            data-images-only="true"
            data-preview-step="true"
            data-clearable="false"
            data-multiple="false"
            data-system-dialog="false"
            data-crop="1024x1024"
          />
        </div>
        <div class='row'>
          <div class="col s12 l6">
            <p hidden id="cur-user"><%= userId%></p>

          </div>
        </div>
      </div>
    </div>
  </main>

  <%- include("../partials/footer") %>

  <script src="https://ucarecdn.com/libs/widget/2.10.3/uploadcare.full.min.js" charset="utf-8"></script>
  <script type="text/javascript" src="../../js/site/uploadcare.js"></script>
</body>
</html>
