<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Upload Photo</title>
</head>
<body>

    <%- include("../partials/nav", {browse: false, profile: false, photos: true, messages: false}) %>

  <main class="container">
    <div class="row">
      <div class="col s12 m12">
        <h4>Select a Photo</h4>

        <form id="upload-photo" method="POST" action="/photos">
          <div class="row">
            <div class="file-field input-field col s12 l6">
               <div class="clr btn button-dim waves-effect waves-light">
                 <span>Select</span>
                  <i class="material-icons right">open_in_browser</i>
                  <input type="file" accept="image/*" id="file-upload">
               </div>
               <div class="file-path-wrapper">
                <input class="file-path validate" type="text" name="imagePath" id="imagePath">
              </div>
            </div>
          </div>
          <div class='row'>
            <div class="col s12 l6">
              <canvas id="upload-img" class="col s12 l6 no-padding img-select"></canvas>
            </div>
          </div>

          <div class="row">
            <div class="col s12 l6">
                <input type="checkbox" class="filled-in" name="profileFlag" id="profileFlag" />
                <label for="profileFlag">Profile Photo</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12 l6">
              <label for="caption">Caption: </label>
              <input type="text" name="caption" id="caption">
            </div>
          </div>

          <div class="row center">
            <button class="submit btn waves-effect waves-light" type="submit" name="action">Submit
              <i class="material-icons right">send</i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </main>

  <%- include("../partials/footer") %>
  <script type="text/javascript" src="../js/site/photos.js"></script>
</body>
</html>
