/* =============================================================================
Site */

a.brand-logo {
  font-size: 3rem;
  margin-left: 10px;
  font-weight:800;
  color: #d50000;
}

body {
  background-color: #dddddd;
  background-image: url("../images/site/nasty_fabric.png");

}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

@media only screen and (min-width: 601px) {
  .container {
    width: 85%;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 80%;
  }
}

.center-children {
  text-align: center;
}

div.profile {
  border: 1px solid #424242;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px 20px;
  background: -moz-linear-gradient(left,#e0e0e0, #bdbdbd, #9e9e9e);
  background: -webkit-linear-gradient(left,#e0e0e0, #bdbdbd, #9e9e9e);
  background: -ms-linear-gradient(left,#e0e0e0, #bdbdbd, #9e9e9e);
  background: -o-linear-gradient(left,#e0e0e0, #bdbdbd, #9e9e9e);
  background: linear-gradient(to right,#e0e0e0, #bdbdbd, #9e9e9e);
}

/* =============================================================================
Input form colors */

/* label color */
.input-field label {
  color: #757575
}

/* option text color */
ul.dropdown-content.select-dropdown li span {
  color: #757575;
}

/* label focus color */
.input-field input[type=text]:focus + label {
  color: #d50000;
}

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #d50000;
  box-shadow: 0 1px 0 0 #d50000;
}

.input-field input[type=number]:focus {
  border-bottom: 1px solid #d50000;
  box-shadow: 0 1px 0 0 #d50000;
}

.input-field input[type=date]:focus {
  border-bottom: 1px solid #d50000;
  box-shadow: 0 1px 0 0 #d50000;
}

.input-field input[type=email]:focus {
  border-bottom: 1px solid #d50000;
  box-shadow: 0 1px 0 0 #d50000;
}

.input-field input[type=password]:focus {
  border-bottom: 1px solid #d50000;
  box-shadow: 0 1px 0 0 #d50000;
}

/* =============================================================================
Chat Form */

h1 {
  margin-top: 0;
  color: #424242;
}

#chat-wrapper {
  max-width: 100%;
  min-width: 350px;
  background: #e0e0e0;
  padding: 14px;
  margin: 40px auto;
  border: 3px solid #424242;
  border-radius: 10px;
}

#status {
  font-size: 15px;
  margin-bottom: 15px;
}

#connect-action {
  float: right;
}

.open {
  color: #43a047;
}

.closed {
  color: #d50000;
}


/* =============================================================================
Message log */

ul#message-log {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

ul#message-log  li {
  padding: 8px 12px;
  border-bottom: 1px solid #aaaaaa;
}

ul#message-log  li:first-child {
  margin-top: 20px;
  border-top: 1px solid #aaaaaa;
}

ul#message-log  li span {
  display: inline-block;
  width: 90px;
  font-weight: bold;
  color: #757575;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.sent {
  background-color: #eeeeee;
  color: #1e88e5
}

.received {
}

/* =============================================================================
Message composition area */

textarea {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #aaaaaa;
  min-height: 100px;
  margin-bottom: 10px;
  background-color: #f5f5f5;
}

#message-form {
  margin-top: 18px;
}

/* =============================================================================
Chat buttons */

#message-form button {
  display: inline-block;
  border: none;
  font-size: 12px;
  font-weight: bold;
  padding: 10px 14px;
  color: white;
  margin: 0 4px;
  text-align: center;
  text-transform: uppercase;
}

#message-form button.connect {
  background: #43a047;
}

#message-form button.disconnect {
  background: #424242;
}

#message-form button.send {
  background: #d50000;
}

#message-form button:hover {
  opacity: 0.75;
  cursor: pointer;
}

/* =============================================================================
Buttons */

button.submit {
  background-color: #d50000;
}

button.submit:hover {
  background-color: #ff5252;
}

div.clr {
  background-color: #d50000;
}

div.clr:hover {
  background-color: #ff5252;
}

.button-dim {
  width: 140px;
  height: 44px;
}

.uploadcare-widget-button-open {
  visibility: hidden;
}

.uploadcare-widget-button-open:hover {
  background-color: #ff5252;
}

.uploadcare-dialog-big-button {
  background: #d50000;
  border-color: #d50000;
  box-shadow: inset 0 -2px #b71c1c;
}

.uploadcare-dialog-big-button:hover {
  background: #ff5252;
}

.uploadcare-dialog-preview-done {
  background: #d50000;
  border-color: #d50000;
  background-color: #d50000;
}

.uploadcare-dialog-preview-done:hover {
  background: #ff5252;
}

.uploadcare-widget-circle--canvas {
  color: #d50000;
}


/* =============================================================================
Typography */

h2 {
  color: #000;
  font-weight: 900;
  text-transform: uppercase;
  text-shadow: 3px 3px 2px #212121;
}

h3 {
  color: #212121;
  text-transform: uppercase;
  text-shadow: 2px 2px 1px #000000;
}

h4 {
  color: #424242;
  text-transform: uppercase;
  font-weight: 800;
  margin: 6px 0;
  /*letter-spacing: .1em;*/
}

h5 {
  color: #424242;
}

.error-msg {
  color: #b71c1c;
}

.bold {
  font-weight: bold;
}

.highlighted {
  color: #d50000;
}

.msg-username {
  color: #b71c1c;
  font-size: 16px;
  text-transform: uppercase;
}

.msg-timestamp {
  color: #757575;
}

.msg-text {
  color: #212121;
  font-size: 20px;
}

#uploader-placeholder {
  font-size: 24px;
}
/* =============================================================================
Message History */

div.message {
  max-width: 900px;
  border: 1px solid #616161;
  border-radius: 10px;
  /*background-color: #e0e0e0;*/
  padding: 0 10px;
  margin: 10px 0;
  background: -moz-linear-gradient(left,#e0e0e0, #bdbdbd, #9e9e9e);
  background: -webkit-linear-gradient(left,#e0e0e0, #bdbdbd, #9e9e9e);
  background: -ms-linear-gradient(left,#e0e0e0, #bdbdbd, #9e9e9e);
  background: -o-linear-gradient(left,#e0e0e0, #bdbdbd, #9e9e9e);
  background: linear-gradient(to right,#e0e0e0, #bdbdbd, #9e9e9e);
}

/* =============================================================================
Cards */

.card .card-image .card-title {
  text-shadow: 1px 1px 2px black;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
  color: #d50000;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating):hover {
  color: #ff5252;
}

/* =============================================================================
Navigation */

nav {
  color: #fff;
  background-color: #212121; /* blue-grey darken-3 */
}

ul#mobile li a {
  color: #d50000;
}

a {
  color: #d50000;
}

a:hover {
  font-weight: bold;
}

a.disabled {
  color: #aaaaaa;
  pointer-events: none;
  cursor: default;
}

ul#mobile li a.disabled {
  color: #aaaaaa;
}

h4.photo-page-link:hover {
  color: #d50000;
}

.main-nav {
  margin-bottom: 20px;
}

/* =============================================================================
images */

img.profile-img {
  border: 1px solid #424242;
  padding: 5px;
  max-width: 100%;
  height: auto;
  margin-bottom: 30px;
}

img.chat-img {
  border: 1px solid #424242;
  padding: 5px;
  max-width: 300px;
  height: auto;
}

a img.profile-img:hover {
  border: 1px solid #d50000;
}

img.msg-img {
  margin: 12px 12px 0 0;
  float: left;
  width: 70px;
  height: auto;
}

img.logo {
  max-height: 125px;
  max-width: 250px;
  margin-bottom: 20px;
}

.carousel .carousel-item {
width:300px !important;}

/* =============================================================================
footer */

#github {
  text-decoration: underline;
}

#footer {
  margin: 0;
  padding: 0;
}

.footer-row {
  margin: 0;
}

footer.page-footer {
  background-color: #424242;
}

footer.page-footer .footer-copyright {
  background-color: #212121;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/* =============================================================================
Splash overlay */

#overlay {
  display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.8;
	z-index:2;
}

#overlay-content {
	position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
	width: 200px;
	height: 200px;
	padding: 16px;
	border: 16px solid #780000;
  border-radius: 10px;
	background-color: #d50000;
	z-index:3;
}

#clear-splash:hover {
  cursor: pointer;
}
