/* =============================================================================
Site */

a.brand-logo {
  font-size: 3rem;
  margin-left: 10px;
  font-weight:800;
  color: #d50000;
}

body {
  background-color: #ddd;
  background-image: url("../images/site/nasty_fabric.png");

}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

@media only screen and (min-width: 601px) {
  .container {
    width: 85%;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 80%;
  }
}

/* =============================================================================
Input form colors */

/* label color */
 .input-field label {
   color: #757575
 }

/* option text color */
 ul.dropdown-content.select-dropdown li span {
     color: #757575;
 }

 /* label focus color */
 .input-field input[type=text]:focus + label {
   color: #d50000;
 }

 /* label underline focus color */
 .input-field input[type=text]:focus {
   border-bottom: 1px solid #d50000;
   box-shadow: 0 1px 0 0 #d50000;
 }

 .input-field input[type=number]:focus {
   border-bottom: 1px solid #d50000;
   box-shadow: 0 1px 0 0 #d50000;
 }

.input-field input[type=date]:focus {
   border-bottom: 1px solid #d50000;
   box-shadow: 0 1px 0 0 #d50000;
 }

 .input-field input[type=email]:focus {
   border-bottom: 1px solid #d50000;
   box-shadow: 0 1px 0 0 #d50000;
 }

 .input-field input[type=password]:focus {
   border-bottom: 1px solid #d50000;
   box-shadow: 0 1px 0 0 #d50000;
 }


/* =============================================================================
Buttons */

button.submit {
  background-color: #d50000;
}

button.submit:hover {
  background-color: #ff5252;
}

.button-dim {
  width: 140px;
  height: 44px;
}

/* =============================================================================
Typography */

h2 {
  color: #000;
  font-weight: 900;
  text-transform: uppercase;
  text-shadow: 3px 3px 2px #212121;
}

h3 {
  color: #212121;
  text-transform: uppercase;
  text-shadow: 2px 2px 1px #000;
}

h4 {
  color: #424242;
  text-transform: uppercase;
  font-weight: 800;
  margin: 6px 0;
  /*letter-spacing: .1em;*/
}

h5 {
  color: #424242;
}

.error-msg {
  color: #e57373;
}

.bold {
  font-weight: bold;
}

.highlighted {
  color: #d50000;
}

/* =============================================================================
Cards */

.card .card-image .card-title {
  text-shadow: 1px 1px 2px black;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
  color: #d50000;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating):hover {
  color: #ff5252;
}

/* =============================================================================
Navigation */

nav {
  color: #fff;
  background-color: #212121; /* blue-grey darken-3 */
}

ul#mobile li a {
  color: #d50000;
}

a.disabled {
  color: #aaa;
  pointer-events: none;
  cursor: default;
}

.main-nav {
  margin-bottom: 20px;
}

/* =============================================================================
images */

img.profile-img {
  border: 1px solid #424242;
  padding: 5px;
  max-width: 100%;
  height: auto;
  margin-bottom: 30px;
  box-shadow: 0 28px 16px -26px #000;
  -webkit-box-shadow: 0 28px 16px -26px #000;
  -moz-box-shadow: 0 28px 16px -26px #000;
}

/* =============================================================================
footer */

#github {
  text-decoration: underline;
}

#footer {
  margin: 0;
  padding: 0;
}

.footer-row {
  margin: 0;
}

footer.page-footer {
  background-color: #424242;
}

footer.page-footer .footer-copyright {
  background-color: #212121;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/* =============================================================================
Splash overlay */

#overlay {
  display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.8;
	z-index:2;
}

#overlay-content {
	position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
	width: 200px;
	height: 200px;
	padding: 16px;
	border: 16px solid #780000;
  border-radius: 10px;
	background-color: #d50000;
	z-index:3;
}

#clear-splash:hover {
  cursor: pointer;
}
