/* =============================================================================
Site */

a.brand-logo {
  margin-left: 10px;
  font-weight:800;
  color: #d50000;
}

body {
  background-color: #ddd;
}

/* =============================================================================
Input form colors */

/* label color */
 .input-field label {
   color: #757575
 }

/* option text color */
 ul.dropdown-content.select-dropdown li span {
     color: #757575;
 }

 /* label focus color */
 .input-field input[type=text]:focus + label {
   color: #d50000;
 }

 /* label underline focus color */
 .input-field input[type=text]:focus {
   border-bottom: 1px solid #d50000;
   box-shadow: 0 1px 0 0 #d50000;
 }

 .input-field input[type=number]:focus {
   border-bottom: 1px solid #d50000;
   box-shadow: 0 1px 0 0 #d50000;
 }

.input-field input[type=date]:focus {
   border-bottom: 1px solid #d50000;
   box-shadow: 0 1px 0 0 #d50000;
 }

 .input-field input[type=email]:focus {
   border-bottom: 1px solid #d50000;
   box-shadow: 0 1px 0 0 #d50000;
 }

 .input-field input[type=password]:focus {
   border-bottom: 1px solid #d50000;
   box-shadow: 0 1px 0 0 #d50000;
 }


/* =============================================================================
Buttons */

button.submit {
  background-color: #d50000;
}

button.submit:hover {
  background-color: #ff5252;
}

.button-dim {
  width: 140px;
  height: 44px;
}

/* =============================================================================
Typography */

h3 {
  color: #212121;
  text-transform: uppercase;
  text-shadow: 2px 2px 1px #000;
}

h4 {
  color: #424242;
  text-transform: uppercase;
  font-weight: 800;
  margin: 6px 0;
  /*letter-spacing: .1em;*/
}

h5 {
  color: #424242;
}

.error-msg {
  color: #e57373;
}

.bold {
  font-weight: bold;
}

/* =============================================================================
Images */

img:first-of-type {
  margin-top: 40px;
}

img.logo {
  max-height: 125px;
  max-width: 250px;
  margin-bottom: 20px;
}

/* =============================================================================
Navigation */

nav {
  color: #fff;
  background-color: #212121; /* blue-grey darken-3 */
}

ul#mobile li a {
  color: #d50000;
}

a.disabled {
  color: #aaa;
  pointer-events: none;
  cursor: default;
}

.main-nav {
  margin-bottom: 20px;
}

/* =============================================================================
footer */

#github {
  text-decoration: underline;
}

#footer {
  margin: 0;
  padding: 0;
}

.footer-row {
  margin: 0;
}

footer.page-footer {
  background-color: #424242;
}

footer.page-footer .footer-copyright {
  background-color: #212121;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/* =============================================================================
Splash overlay */

#overlay {
  display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.8;
	z-index:2;
}

#overlay-content {
	position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
	width: 200px;
	height: 200px;
	padding: 16px;
	border: 16px solid #d50000;
  border-radius: 10px;
	background-color: #aaa;
	z-index:3;
}

#clear-splash:hover {
  cursor: pointer;
}
