<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>About</title>
  </head>
  <body>

    <%- include("../partials/nav", {browse: false, profile: false, photos: false, messages: false}) %>

    <main class="container">
      <div class="row">
        <div class="col s12 m6">
          <h4>About</h4>
          <p class="flow-text">MATE will be the app for single men who want to meet other single men.
            It is my response to existing apps that do not allow
            single men to hide their profiles from guys who are in relationships.
          </p>
          <p>Version 0.0.1.1</p>
          <p class="list-title">This project uses the following techologies</p>
          <ul>
            <li><span class="bold">Frontend:</span> JavaScript, jQuery, HTML</li>
            <li><span class="bold">Backend:</span> Node.js, Express.js</li>
            <li><span class="bold">Pages:</span> EJS</li>
            <li><span class="bold">CSS:</span> Materialize</li>
            <li><span class="bold">Database:</span> PostgreSQL</li>
            <li><span class="bold">SQL builder:</span> Knex.js</li>
            <li><span class="bold">Version control:</span> Git, GitHub</li>
            <li><span class="bold">Location:</span> NavigatorGeolocation API</li>
            <li><span class="bold">Chat / Messaging:</span> HTML5 WebSockets</li>
          </ul>

          <h5>Feature list</h5>
          <p class="list-title">Site
            <ul class="bullets">
              <li>User only appears on browse page if they have a profile, profile photo, and are logged in</li>
              <li>User can browse photos of and view the profiles of others who are signed in</li>
              <li>Geolocation to display distance away of other users</li>
              <li>Sorts users on browse page by distance</li>
              <li>Responsive design</li>
            </ul>
          </p>

          <p class="list-title">User authentication and authorization
            <ul class="bullets">
              <li>Passwords are hashed. The hash is stored, the password is not</li>
              <li>User can create, update, and delete their account</li>
              <li>User can create, update, and delete their profile</li>
              <li>User can upload, update, and delete photographs</li>
              <li>Edit forms pre-fill text of input elements</li>
            </ul>
          </p>

          <p class="list-title">Photos
            <ul class="bullets">
              <li>First photo uploaded to account is automatically set as the profile photo</li>
              <li>User can change profile photo</li>
              <li>Photo set as profile photo cannot be deleted</li>
            </ul>
          </p>

          <p class="list-title">Chat / Messaging
            <ul class="bullets">
              <li>Real-time chat the displays username of sender</li>
              <li>Chatroom availabe for any logged in user</li>
              <li>User can view message history</li>
            </ul>
          </p>

          <h5>What's next?</h5>
          <p class="list-title">Site
            <ul class="bullets">
              <li>Implement the app using React and Redux</li>
              <li>Implement the app using React Native</li>
              <li>Promise-fy location function</li>
              <li>Add search capability</li>
              <li>Limit the number of photos to 10</li>
            </ul>
          </p>

          <p class="list-title">User authentication and authorization
            <ul class="bullets">
              <li>Implement OAUTH to Facebook and use it to validate a relationship
                status of single</li>
              <li>Add a salt to the hashed password</li>
              <li>Handle forgotten passwords</li>
              <li>Require user to be signed in to view non-profile photos of other users</li>
            </ul>
          </p>

          <p class="list-title">Chat / Messaging
            <ul class="bullets">
              <li>Add ability to send photos in messages</li>
              <li>Add message notifications</li>
            </ul>
          </p>
        </div>

        <div class="col m1">
        </div>

        <div class="col s12 m5 center">
          <div><img class="logo" src="../images/site/es6-logo.png" alt="JavaScript"></div>
          <div><img class="logo" src="../images/site/html5css3badges.png" alt="HTML5 CSS3"></div>
          <div><img class="logo" src="../images/site/nodejs-logo.png" alt="nodeJS"></div>
          <div><img class="logo" src="../images/site/express.png" alt="express"></div>
          <div><img class="logo" src="../images/site/materialize-logo.png" alt="materialize"></div>
        </div>
      </div>
    </main>

    <%- include("../partials/footer") %>

  </body>
</html>
