<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>About</title>
  </head>
  <body>

    <%- include("../partials/nav", {browse: false, profile: false, photos: false, messages: false}) %>

    <main class="container">
      <div class="row">
        <div class="col s12 m6">
          <h4>About</h4>
          <p>MATE is an app for single men who are only interested in meeting other
            single gay men. It is my response to existing apps that do not allow
            single men to hide their profiles from guys who are in relationships.
          </p>
          <p>This project uses the following techologies:
            <ul>
              <li><span class="bold">Backend:</span> JS6, Node.js, Express.js, bcrypt, Knex.js</li>
              <li><span class="bold">Pages:</span> EJS</li>
              <li><span class="bold">CSS:</span> Materialize</li>
              <li><span class="bold">Database:</span> PostgreSQL</li>
              <li><span class="bold">Version control:</span> Git, GitHub</li>
              <li><span class="bold">API:</span> Google Maps Geolocation</li>
            </ul>
          </p>
          <p><span class="bold">Feature List:</span>
            <ul>
              <li>User Authentication and Authorization</li>
              <li>Create, Update, and Delete User Accounts</li>
              <li>Create, Update, and Browse Profiles</li>
              <li>Upload, Update, and Delete Photographs</li>
              <li>Real-time Chat</li>
              <li>Geolocation</li>
            </ul>
          </p>
       </div>
       <div class="col m1">
       </div>
       <div class="col s12 m5 center">
           <img class="logo" src="../images/es6-logo.png" alt="JavaScript">
           <img class="logo" src="../images/html5css3badges.png" alt="HTML5 CSS3">
           <img class="logo" src="../images/nodejs-logo.png" alt="nodeJS">
           <img class="logo" src="../images/express.png" alt="express">
        </div>
      </div>
    </main>

    <%- include("../partials/footer") %>

  </body>
</html>
