<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Contact</title>
  </head>
  <body>

    <%- include("../partials/nav", {browse: false, profile: false, photos: false, messages: false}) %>

    <main class="container">
      <div class="row">
        <div class="col s12 m8">
          <h5>Rob Conner</h5>
          <p><a href="https://www.linkedin.com/in/robconner" target="_blank">LinkedIn - Rob Conner</a></p>
          <p><a href="https://github.com/bigrobsf" target="_blank">Github</a></p>
          <p class="flow-text">Rob began his professional career as an accountant and after moving
            to San Francisco found himself in charge of his employer's customer
            contract database. He discovered the magic of databases, returned
            to school, and earned a M.S. in Database Development and
            Administration in 2005.
          </p>
          <p class="flow-text">After years of application-layer system administration, he longed to
            return to development and enrolled in the Galvanize Web Development
            Immersive program to pivot to a career as a full-stack software engineer.
          </p>
          <p class="flow-text">When Rob isn't solving problems through code or learning new
            technologies, he enjoys studying French and traveling the world.</p>
        </div>

        <div class="col s12 m4">

        </div>
      </div>
    </main>

    <%- include("../partials/footer") %>

  </body>
</html>
