<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>MATE</title>
  </head>
  <body>

    <%- include("../partials/nav") %>

    <main class="container">
      <div class="row">
        <div class="col s12 m12">
          <h5 class="welcome">Welcome! Please sign in or create an account.</h5>
        </div>
      </div>
      <div class="row">


      </div> <!-- end first row -->

      <div class="row">
        <div class="col s12 m6 center">

        </div>

        <div class="col s12 m6 center">

        </div>
      </div> <!-- end second row -->
    </main>

    <%- include("../partials/footer") %>

  </body>
</html>
